.login {
  background-color: #f8f8f8;
  background-image: url("background.svg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.login__container {
  margin-right: 14%;
  margin-top: 5%;
}
